<%- include('./header'); %>
<div class="container">
    <div class="card mb-5">
        <%- include('./topmenu'); %>
    </div>
    <div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xl-12">
                        <h6>RX ONU ของ จังหวัด: 
                            <div class="province-button">
                                <button class="btn btn-default btn-province" prefix="default" disabled>Choose :</button>
                            </div>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6">
                            <div class="main_graph">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <label class="text text-success h5" for="rxChart" id="province_label">-</label> 
                                        <h5>ONU Quality</h5>
                                    </div>
                                    <div class="col-xl-6">
                                        <button class="btn btn-warning btn-pon-list" id="btn_pon_list">PON List</button>
                                        <button class="btn btn-warning btn-nc-list" id="btn_nc_list">NC List</button>
                                        <button class="btn btn-warning btn-nc-history" id="btn_nc_history">History</button>
                                    </div>
                                    <div class="col-xl-12">
                                        <canvas id="rxChart"></canvas>
                                    </div>
                                    
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-6">
                        <div id="ne_table">
                            <label for="province_ne_table">OLT Node และ จำนวน PON</label>
                            <table id="province_ne_table" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ลำดับที่</th>
                                        <th>ชื่อ Node</th>
                                        <th>จำนวน PON</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <div id="rx_table">
                            <label for="province_rx_table">PON และ จำนวน ONU</label>
                            <table id="province_rx_table" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>NRSSP</th>
                                        <th>A@RX</th>
                                        <th>Good</th>
                                        <th>Not Conform</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <input type="hidden" id="current_prefix" value="">
                        <input type="hidden" id="current_master_id" value=0>
                        <input type="hidden" id="user_right" value="<%= right %>">
                        <input type="hidden" id="user_type" value="<%= type %>">
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Modal -->
<%- include('../modals/modal_aarx_pon_onu_table'); %>
<%- include('../modals/modal_aarx_onu_nc_table'); %>
<%- include('../modals/modal_aarx_onu_nc_history'); %>
<%- include('../modals/modal_aarx_onu_nc_province_history'); %>
<%- include('../modals/modal_loading'); %>


<script type="text/javascript" src="/pub/js/bundle.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/pub/js/common.js" ></script>
<script type="text/javascript" src="/pub/js/aarx_onu.js" defer></script>
<%- include('./footer'); %>